<div class="row">
  <div class="col-lg-5">
		<h1 class="blog">Delete Blog Post</h1>
	</div>

  <div class="col-lg-5">
      <p>You are logged in as: <%= session[:username] %></p>
      <p>Click <a href="/create_post">here</a> to create a post.</p>
      <form action="/logout" method="post">
        <button type="submit" class="btn btn-sm btn-default">Logout</button>
      </form>
    </div>
  </div>
</div>

<% if session[:success] %>
	<div class="row">
		<div class="col-lg-5">
	  	<div class="alert alert-success" role="alert">
	  		<%= session.delete(:success) %>
			</div>
		</div>
	</div>
<% end %>

<form action= "/delete_post" method="post">
	<div class="row">
      <div class="col-lg-5 form-group">
      	<select name="class_id"class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
    			<option selected>Choose a post by name:</option>

    			<% @posts.each do |post| %>
    				<option value="<%= post[:id] %>"><%= post[:name] %></option>
    			<% end %>
    			<!-- <option value="1">One</option>
    			<option value="2">Two</option>
    			<option value="3">Three</option> -->
  			</select>
    </div>
  </div>

  <div class="row">
  	<div class="col-lg-5 form-group">
  		<button class="btn btn-lg btn-default" data-toggle="confirmation">Delete</button>
  	</div>
  </div>
</form>
