<% @posts.each do |post| %>
	<div class="col-lg-8 mx-auto">
		<h2><%= post[:name] %></h2>
		<p class="title"><span>Post Date</span>: <%= get_year(post[:post_time]) %></p>
		<p class="title"><span>Post Time</span>: <%= convert_time(post[:post_time]) %></p>
		<p><%= post[:post] %></p>
	</div>
<% end %>